<div class="brand-logo hidden lg:block">
  <app-brand-logo></app-brand-logo>
</div>
<div class="info">
  <p>Copyright 2020 | All Rights Reserved | Terms and Conditions of Usage</p>
  <p><a href="mailto:info@trinsiksports.com">info@trinsiksports.com</a> | USA: 512.687.3442</p>
</div>
<div class="media mb-3 lg:mb-0">
  <a href="https://www.instagram.com/">
    <app-svg-icon class="fill-sky-400" icon="instagram"></app-svg-icon>
  </a>
  <a href="https://www.linkedin.com/">
    <app-svg-icon class="fill-sky-400" icon="linkedIn"></app-svg-icon>
  </a>
  <a href="https://twitter.com/home">
    <app-svg-icon class="fill-sky-400" icon="twitter"></app-svg-icon>
  </a>

</div>